.sidebr{
    position: fixed;
    left:0;
    bottom: 0;
    top:51px;
    background-color: white;
    width:72px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(240, 237, 237);
    z-index:200;
    padding-top:5px;

}
.sidebar-link{
    height:76px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.sidebar-link img{
    height:24px;
}
.sidebar-link div{
    font-size: 10px;
    font-family: roboto,arial;
    margin-top:6px;

}


